@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@100;400;700&display=swap');

/* Define custom colors */
:root {
  --orange: #ff7f00; /* Vivid orange */
  --gray: #f4f4f4; /* Light gray */
  --dark-gray: #333333; /* Dark gray */
}

body {
  background-color: var(--gray);
  font-family: 'Hanken Grotesk', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--orange);
  color: white;
  padding: 10px;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.navbar ul li {
  display: inline;
  margin-right: 10px;
}

.navbar ul li button {
  background-color: var(--dark-gray);
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Hanken Grotesk', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: background-color 0.3s ease;
}

.navbar ul li button:hover {
  background-color: #222222; /* Slightly darker on hover */
}

/* Book list container */
.booklist-container {
  padding-top: 80px;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

/* Search bar */
.search-bar {
  margin: auto;
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  animation: fadeInUp 0.5s ease;
}

.search-icon {
  margin-right: 10px;
}

.search-input {
  border: none;
  outline: none;
}

.content {
  padding: 20px;
}

h2 {
  color: var(--orange);
  font-size: 2.5rem;
  margin-bottom: 20px;
  animation: fadeIn 1s ease;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
